body{
    font-family: Laila;
    font-size:larger;
    font-size: 18px;
    margin-top: 70px;
}
.accountButton button{
    background-color: #690b42;
    color: white;
    border: #212529;
    padding: 10px 45px;
    border-radius: 20px;
    font-size:large;
}
.accountButton button:hover{
    background-color: #494c4e;
    border-radius: 20px;  
}
.network a img{
    width: 50px;    
}
#butcad{
    width: 100%;
}



@media only screen and (max-width:950px){
    .rigth-login{
        width:85%;
    }
}
@media only screen and (max-width:600px){ /*para telas menores*/
    .main-login{
        flex-direction: column;
        padding: 0%;
        margin: 0%;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .left-login img{
        width: 70vw;
        align-items: center;
    }
    .rigth-login{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    .rigth-login button{
        padding: 10px 15px;
    }

}